body {
  background-color: black;
}
.main {
  background-color: black;
  color: white;
  text-align: left;
  width: 70vw;
  margin: auto;
}

.container {
  padding: 25px;
  background-color: black;
}

.container > h1 {
  color: yellow;
  margin: 20px 0;
  font-weight: 300;
  font-size: 2.5rem;
}

.subdiv > h2 {
  border-left: 4px solid yellow;
  padding-left: 10px;
  margin: 30px 0;
  font-weight: 500;
}

.featuredToday {
  width: 70%;
}
.featuredToday>.flexContainer > .wrapper{
    width: 30%;
}

.featuredToday > .flexContainer {
  display: flex;
}

.editor_flex {
  display: flex;
}

.editorsPick {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editorsPick > imgContainer {
  width: 30%;
  margin: auto;
}

.editorsPick > imgContainer > img {
  width: 90%;
}

img {
  width: 90%;
}

.editorsPick > p {
  font-size: 1.4em;
}

.borntoday > .flexContainer {
  display: flex;
  flex-direction: row;

}

.borntoday > .flexContainer > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70vw;
}

.borntoday > .flexContainer > div > .imgContainer {
  width: 100%;
}

.borntoday > .flexContainer > div > .imgContainer > img {
  width: 90%;
  border-radius: 50%;
}

.topnews > .topnews_flex {
  display: flex;
  flex-direction: row;
}

.topnews > .topnews_flex > .flexContainer {
  display: flex;
  flex-direction: row;
  font-size: 1.4em;
}

.topnews > .topnews_flex > .flexContainer > .imgContainer {
  width: 100%;
}

.topnews > .topnews_flex > .flexContainer > .imgContainer > img {
  width: 80%;
}

.topnews > .buttonFlex > button {
  padding: 7px 10px;
  margin: 10px;
  border-radius: 20px;
  color: white;
  background-color: #111;
  border-color: white;
}

.toppicks > .flexContainer {
  display: flex;
  flex-direction: row;
}

.toppicks > .flexContainer > .wrapper {
  width: 16%;
}

.toppicks > .flexContainer > .wrapper > .imgContainer {
  height: 90%;
}

.toppicks > .flexContainer > .wrapper > p {
  font-size: 1.3em;
}

/* sandeep edited */

.flexContainer {
  column-gap: 4px;
  margin-bottom: 8px;
}

.imgContainer img {
  height: 200px;
}
#wl {
  overflow-x: scroll;
}
#wl::-webkit-scrollbar {
  display: none;
}
#wl img {
  width: 150px;
}

.button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.remove_wl,
.link_wl button {
  border: 1px solid red;
  width: 60px;
  background-color: transparent;
  border: none;
  color: wheat;
  height: 30px;
  transition: 0.8s;
  border-radius: 8px;
}
.remove_wl:hover,
.link_wl > button:hover {
  background-color: rgb(45, 39, 39);
}

.toppicks > .flexContainer >.wrapper > p{
    font-size: 1.3em;
}

.moreToWatch > button{
    padding: 20px 100px;
    margin: 10px;
    color:white;
    border:1px solid white;
    font-size: 1.3rem;
    box-sizing: border-box;
}

.streaming > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;


}
.streaming >ul> li:hover{
    border-bottom: 1px solid yellow;
    text-decoration: none;
    
}
.streaming >ul> li:active{
    border-bottom: 1px solid yellow;
    text-decoration: none;
    
}
.icons{
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.icons >a > *{
    font-size: 2rem;
    
}
.icons >a{
    text-decoration: none;
    color:white;
    
}
ul{
    margin-bottom: 30px;
}

ul.flex{
    margin:auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

p.amazon{
    margin: 30px;
    width: 200px;
    margin: auto ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: auto;
}

p.amazon > img{
    
    height: 20px;
    width: auto;
}

p.lastline {
    margin-top:10px;
    text-align: center;
}
