.more i.fa.fa-play {
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 11px 10px 10px 12px;
    margin-right: 5px;
}
.more {
    background-color: #000;
    display: block;
    clear: both;
    overflow: hidden;
    padding: 29px 0;
}
.more p {
    margin-top: 5px;
}
.more a {
    color: #fff;
}
.banner-text {
    z-index: 9999;
    position: absolute;
    bottom: 15px;
    left: 160px;
    font-size: 32px;
    color: #fff;
    text-shadow: 2px 2px #000000;
}
.banner-text i {border: 4px solid #fff;padding: 12px 10px 11px 15px;border-radius: 100%;}
#myCarousel {
    position:relative;
}
.content {
    overflow: hidden;
    padding: 10px 100px;
}

.upnext{
    color: yellow;
    font-weight: bolder;
    padding-bottom: 20px;
}

img{
    max-width: 100%;
}
.item {
    width : 1070px;
    height: 597px;
}
.more div {
    padding: 0;
    padding-right: 10px;
}
.more img {
    width: 83px;
    height: 122px;
}