
.logindiv{
    width: 120%;
    height: 40px;
    margin: auto;
    
    display: flex;
    gap: 15px;
    text-align: center;
    position: sticky;
    align-items: center;
    margin-bottom: 10px;
    
   
   border-radius: 5px;
   color: #555555;
   font-size: 13px;
}