* {
  padding: 0;
  margin: 0;
}
.before {
  /* max-width: 823px; */
  margin-top: 0px;
  background-color: black;
  margin-left: 25%;
  position: absolute;
  z-index: 2;
}

.row_1 {
  padding-top: 35px;
  margin: auto;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 485px; */
}

.colum_head_left img {
  width: 80px;
}
.colum_head_right button {
  margin-top: 14px;
  width: 88px;
  height: 38px;
  background-color: rgb(244, 204, 62);
  border-radius: 10px;
  color: rgb(14, 12, 12);
  font-weight: bold;
}
.row_2 {
  display: flex;
  flex-direction: row;
  max-width: 75%;
  justify-content: space-between;
  margin: auto;
}
.colunm {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  color: white;
}
ul {
  list-style-type: none;
  line-height: 40px;
}

li:hover {
  text-decoration: underline;
}
.row_in {
  padding-top: 8%;
}
.icon {
  width: 60px;
  height: 60px;
  background-color: green;
}
h2 {
  color: rgb(170, 127, 8);
}
